<%= form_for(@idea) do |f| %>
<div class="field">
  <%= f.hidden_field :user_id, value: current_user.id %>
</div>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
Images:
  <%= f.fields_for :images do |images_form| %>
  <li>
    <%= images_form.label "Image Link" %>
    <%= images_form.text_field :link %>
  </li>
  <% end %>
</div>
<div class="field">
  <%= f.label :categories %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
