<div id="ideas">
  <h2>Your Ideas:</h2>
  <ul>
    <% @user.ideas.each do |idea| %>
    <li><%= idea.name %>
      <% if !idea.category.nil? %>
        <%= idea.category.name %> 
        <% idea.images.each do |image| %>
          <%= image.link %>
        <% end %>
      <% end %>
      <%= link_to 'Edit', edit_idea_path(idea) %>
      <%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add Idea", new_idea_path %></br>
  <%= link_to "Logout", logout_path, method: 'DELETE' %>
</div>
